<!--_meta 作为公共模版分离出去-->

<include file="Public:base" />

<!--/meta 作为公共模版分离出去-->

<title>{:isset($info['id'])?'编辑':'新增'}用户</title>
</head>
<body>
	<article class="page-container">
		<form class="form form-horizontal skin-minimal input" id="fromcreate"
			method="post">
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">用户名</label>

				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" name="ad_name"
						value="{$info.ad_name|default=''}">
				</div>
			</div>
			
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">密码：</label>

				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" name="ad_pass"
						value="">
				</div>
			</div>
			
						<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">重复密码：</label>

				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" name="repass"
						value="">
				</div>
			</div>

		

			<div class="row cl">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
					<input type="hidden" name="ad_id" value="{$info.ad_id|default=''}">

					<button  class="btn btn-primary radius"
						type="button" onclick="submit_form();">
						<i class="Hui-iconfont">&#xe632;</i> 提交
					</button>

				</div>
			</div>
		</form>
	</article>

	<!-- 底部js引入S-->
	<include file="Public:script" />
	<!-- 底部js引入E-->



	<!--请在下方写此页面业务相关的脚本-->

	<script type="text/javascript">

    	var index = parent.layer.getFrameIndex(window.name);

    	function submit_form(url = "{:U('')}") {
    		$.ajax({
    			cache : true,
    			type : "POST",
    			url : url,
    			data : $('#fromcreate').serialize(),// 你的formid
    			async : false,
    			error : function(request) {
    				msg_error('网络错误,请稍后重试!');
    			
    			},
    			success : function(data) {
    				if (data.status == 1) {
    					
    					parent.msg_success(data.info);
    					
    					parent.ajaxload("{:U('Aduser/index')}");
    					
    					parent.layer.close(index);
    				} else {
    					msg_error(data.info);
    				}
    			}
    		});

    	}
    </script>

	<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>