<!--_meta 作为公共模版分离出去-->
<include file="Public:base" />
<!--/meta 作为公共模版分离出去-->

<include file="Public:position" />
<body>
	<article class="page-container">
		<form action="" method="post" class="form form-horizontal"
			id="fromcreate">
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span
					class="c-red">*</span>用户组：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<select name="group" class="select">
						<volist name="auth_group" id="vo">
						<option
							value="{:U('AuthManager/access',array('group_id'=>$vo['id'],'group_name'=>$vo['title']))}"<eq
								name="vo['id']" value="$this_group['id']">selected</eq>
							>{$vo.title}
						</option>
						</volist>
					</select>
				</div>
			</div>
			
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">用户组权限：</label>
				<div class="formControls col-xs-8 col-sm-9">

					<volist name="node_list" id="node">
					<dl class="permission-list">
						<dt>
							<label><input class="auth_rules rules_all"
								type="checkbox" name="rules[]"
								value="<?php echo $main_rules[$node['url']] ?>">{$node.title}管理

							</label>
						</dt>
						<dd>
							<present name="node['child']"> <volist
								name="node['child']" id="child" key="c_key">

							<dl class="cl permission-list2">
								<dt>
									<label class=""> <input class="auth_rules" type="checkbox"
										name="rules[]"
										value="<?php echo $auth_rules[$child['url']] ?>"
										id="user-Character-0-{$c_key}"> {$child.title}
									</label>
								</dt>
								<dd>
									<notempty name="child['operator']"> <volist
										name="child['operator']" id="op" key="o_key"> 
										
										<label class="">
										<input type="checkbox" class="auth_rules" id="user-Character-0-{$c_key}-{$o_key}"
										name="rules[]" value="<?php echo $auth_rules[$op['url']] ?>" />{$op.title}

									</label>
									
									</volist> </notempty>
								</dd>
							</dl>
							</volist> </present>

						</dd>
					</dl>


					</volist>



				</div>
			</div>
			<div class="row cl">
			 <input type="hidden" name="id" value="{$this_group.id}" />
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
					<button type="button" onclick="submit_form();" class="btn btn-success radius"
						id="admin-role-save" name="admin-role-save">
						<i class="icon-ok"></i> 确定
					</button>
				</div>
			</div>
		</form>
	</article>



	<!--_footer 作为公共模版分离出去-->
	<include file="Public:script" />
	<!--/_footer /作为公共模版分离出去-->

	<script type="text/javascript"
		src="__LIB__/icheck/jquery.icheck.min.js"></script>


	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript">
		$(function() {
			   var rules = [{$this_group.rules}];
		        $('.auth_rules').each(function(){
		            if( $.inArray( parseInt(this.value,10),rules )>-1 ){
		                $(this).prop('checked',true);
		            }
		            if(this.value==''){
		                $(this).closest('span').remove();
		            }
		        });
		        
			$(".permission-list dt input:checkbox").click(
					function() {
						$(this).closest("dl").find("dd input:checkbox").prop(
								"checked", $(this).prop("checked"));
					});
			$(".permission-list2 dd input:checkbox")
					.click(
							function() {
								var l = $(this).parent().parent().find(
										"input:checked").length;
								var l2 = $(this).parents(".permission-list")
										.find(".permission-list2 dd").find(
												"input:checked").length;
								if ($(this).prop("checked")) {
									$(this).closest("dl").find(
											"dt input:checkbox").prop(
											"checked", true);
									$(this).parents(".permission-list").find(
											"dt").first()
											.find("input:checkbox").prop(
													"checked", true);
								} else {
									if (l == 0) {
										$(this).closest("dl").find(
												"dt input:checkbox").prop(
												"checked", false);
									}
									if (l2 == 0) {
										$(this).parents(".permission-list")
												.find("dt").first().find(
														"input:checkbox").prop(
														"checked", false);
									}
								}
							});

			$("#form-admin-role-add").validate({
				rules : {
					roleName : {
						required : true,
					},
				},
				onkeyup : false,
				focusCleanup : true,
				success : "valid",
				submitHandler : function(form) {
					submit_form();
					var index = parent.layer.getFrameIndex(window.name);
					parent.layer.close(index);
				}
			});
		});
		
		
		//不能用submit，有冲突
		function submit_form(url) {
			if(!url){
				url="{:U('AuthManager/writeGroup')}";
			}
			$.ajax({
				cache : true,
				type : "POST",
				url : url,
				data : $('#fromcreate').serialize(),// 你的formid
				async : false,
				error : function(request) {
					msg_error('网络错误,请稍后重试!');
				
				},
				success : function(data) {
					if (data.status == 1) {
						
						parent.msg_success(data.info);
						parent.ajaxload("{:U('AuthManager/index')}"); 
						parent.layer.close(index); 
					} else {
						msg_error(data.info);
					}
				}
			});

		}
		
		
	</script>
	<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>