<nav class="breadcrumb">
		
		<i class="Hui-iconfont">&#xe67f;</i> 首页 
	
	
	<notempty name="__POSITION__.parentname">
		<span class="c-gray en">&gt;</span>
		
		{$__POSITION__.parentname}
		
	</notempty>	
	
	<notempty name="__POSITION__.childname">
		<span class="c-gray en">&gt;</span>
		
		{$__POSITION__.childname}
		
	</notempty>	
		
		
		
		<a
			class="btn btn-success radius r"
			style="line-height: 1.6em; margin-top: 3px"
			href="javascript:location.replace(location.href);" title="刷新"><i
			class="Hui-iconfont">&#xe68f;</i></a>
	</nav>